
        {% extends 'base.html' %}
        {% block myContent %}
        


     <table class="table"></table>
    <h1>hai mzc</h1>
    <table>
        <tr>
            <td>student name</td>
            <td><input type="text"class=form-control></td>
        </tr>
        <tr>
            <td>rollnum</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>admission num</td>
            <td><input type="text"class=form-control></td>

        </tr>
        <tr>
        <td><button class="btn btn-sucess"value=submit>submit</button></td>
        </tr>

    </table>
    {%endblock%}
